<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Phoenix Api Test Suite" >

    <listeners>
        <listener class-name="com.Listeners.ApiTestListener"/>
    </listeners>



    <test name="InWarrenty Flow Test">
        <classes>
            <class name="com.api.test.LoginApiTest"/>
            <class name="com.api.test.UserDetailsApiTest"/>
            <class name="com.api.test.CountApiTest"/>
            <class name="com.api.test.masterApiTest"/>
            <class name="com.api.test.CreateJobApiTest"/>
        </classes>
    </test>
</suite>