<Configuration >
    <appenders>
        <console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%d][%t][%5level]-[%c{1}::%M:%L] - %msg:%n}{FATAL=Red Bright, ERROR=red,
            WARN=Cyan Bright, INFO=Magenta Bright, DEBUG=green, TRACE=blue}"></PatternLayout>
        </console>
<!--        <File name="logs/automation" append="false"></File>-->
        <File name="FileAppender" filename="Logs/Application.log" append="true">
            <PatternLayout pattern="%highlight{[%d][%t][%5level]-[%c{1}::M:%L] - %msg:%n}{FATAL=Red Bright, ERROR=red,
            WARN=Cyan Bright, INFO=Magenta Bright, DEBUG=green, TRACE=blue}"></PatternLayout>
        </File>
    </appenders>
    <loggers>
        <root level="INFO">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FileAppender"/>
        </root>
    </loggers>
</Configuration>